html,
body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
}

#nav {
    padding: 0px;
    width: 100%;
}

nav div {
    background-color: #FFD900;
    box-sizing: border-box;
    width: 100%;
    height: 10%;

}


#logo {
    padding-left: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

#containerRow {
    width: 100%;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#left {
    background: #514988;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100%;
}

.h1 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 3rem, 3.5rem);
    color: #F3C61F;
    padding-top: 2rem;
    margin: 0;
    padding-bottom: 2rem;
}

.h2 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    color: white;
    margin: 0;
}

.h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 70%;
}

#rosa {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 2rem, 2.5rem);
    color: #E33881;
}

.timer {
    display: flex;
    padding-top: 1rem;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    color: #514988;
    width: 100%;
    justify-content: center;
}

.timer>div {
    display: flex;
    align-items: center;
}

.timer h1 {
    margin: 0;
    padding-left: 2rem;
    padding-right: 0px;
    font-weight: bold;
    font-size: 3.5rem;
}

.timer p {
    margin: 0;
    padding-right: 2.5vw;
    padding-left: 0px;
    font-size: 3.5rem;
}

#yellow {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F3C61F;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    left: 17%;
}

#video {
    border-radius: 20px;
    width: 85%;
}

#images {
    display: flex;
    flex-direction: row;
    padding-left: 8rem;
    justify-content: space-evenly;
}



#button {
    display: flex;
    padding-top: 4rem;
    position: relative;
    left: 15%;
}

#buy {
    background-color: #514988;
    border: none;
    height: 7vw;
    width: 30vw;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    border-radius: 25px;
    transition: background-color 0.5s ease, color 0.5s ease;
    transform: scale(1);
    transition: 0.5s;
}

#buy:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.1);
    transition: 0.5s;
}

@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    body {
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        width: 100%;
    }

    #nav {
        padding: 0px;
        box-sizing: border-box;
    }

    nav div {
        background-color: #FFD900;
        box-sizing: border-box;
        width: 100%;
        height: 10%;

    }


    #logo {
        padding-left: 2%;
    }

    main {
        display: flex;
        flex-direction: column;
        height: 60%;
        justify-content: space-between;
        box-sizing: border-box;
    }

    #containerRow {
        width: 100%;
        height: 100%;
    }

    .row {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #left {
        background: #514988;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .h1 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        color: #F3C61F;
        padding-top: 2rem;
        margin: 0;
        padding-bottom: 2rem;
    }

    .h2 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        color: white;
        margin: 0;
    }

    .h3 {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 400;
        color: #FFFFFF;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 95%;
    }

    #rosa {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        color: #E33881;
    }

    .timer {
        display: flex;
        padding-top: 1rem;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        color: #514988;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .timer>div {
        display: flex;
        align-items: center;
    }

    .timer h1 {
        margin: 0;
        padding-left: 2rem;
        padding-right: 0px;
        font-weight: bold;
        font-size: 3.5rem;
    }

    .timer p {
        margin: 0;
        padding-right: 2.5vw;
        padding-left: 0px;
        font-size: 3.5rem;
    }

    #titleImg {
        width: 100%;
    }

    #yellow {
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #F3C61F;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        left: 5%;
    }

    #video {
        border-radius: 20px;
        width: 85%;
    }

    #images {
        overflow-x: scroll;
        white-space: nowrap;
        padding-left: 20rem;
        scrollbar-width: none;
    }
    
    #images::-webkit-scrollbar {
        display: none;
    }

    #images img {
        display: inline-block;
    }

    #button {
        display: flex;
        padding-top: 4%;
        position: relative;
        left: 20%;
        padding-bottom: 4%;
    }

    #buy {
        background-color: #514988;
        border: none;
        height: 15vw;
        width: 60vw;
        font-family: 'Verdana';
        font-style: normal;
        font-weight: 700;
        font-size: 2vh;
        line-height: normal;
        text-align: center;
        color: #FFFFFF;
        border-radius: 20px;
        transition: background-color 0.5s ease, color 0.5s ease;
        transform: scale(1);
        transition: 0.5s;
    }

    #buy:hover {
        background-color: yellow;
        color: black;
        transform: scale(1.1);
        transition: 0.5s;
    }
}